header {
	border-bottom: 12px solid brown;
}

body{
	background: #f6f6f6;
}

header h1{
	font-family: 'Droid Sans', arial, serif;
	font-size: 36px;
	border-bottom: 12px solid #c3c9ff;
}

#content{
	width: 976px;
	margin: 20px auto;
}

table.table thead tr th.header, table.tablesorter thead tr th.header {
font-family: 'Droid Sans', arial, serif;
	font-size: 14px;
}

ul {
list-style-type: none;
width: 100%;
margin: auto;
}

ul li {
float: left;
text-align: center;
vertical-align: middle;
}

ul#nav{
height: 80px;
}

ul#average_likes{
	border: 5px solid #c3c9ff;
	height: 40px;
	margin-top: 10px;
}

ul#nav li {
width: 20%;
}

ul#average_likes li{
width: 25%;
	font-family: 'Droid Sans', arial, serif;
	font-size: 22px;
	border-top: 5px solid brown;
	border-bottom: 5px solid brown;
	line-height: 30px
}


ul a {
	font-family: 'Droid Sans', arial, serif;
	font-size: 22px;
	border-bottom: 12px solid #c3c9ff;
	line-height: 80px;
	text-decoration: none;
}

ul a:hover, ul a.active{
		border-bottom: 12px solid brown;
}
